.movieTitle {
  color: #fff;
  font-weight: bold;
}

.movieTitleContainer {
  text-align: center;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.centerStars {
  margin-left: auto;
  margin-right: auto;
}
